@tailwind base;
@tailwind components;
@tailwind utilities;

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flexBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

* {
  transition: 300ms;
}
.signUpInputs {
  padding: 8px 18px;
  border-radius: 30px;
  border: 2px solid gray;
}

.hover-items {
  display: none;
}

.hover-main:hover .hover-items {
  display: block;
}
